* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;

}

body {
    background-color: var(--color);
}

header {
    margin: 10px;
    padding: 10px;

}

:root {
    --color: #fff;
    --font-size: 20px;
    --background-color: gray;

}

/* class secelctor*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/10%);
    padding: 1rem;
    background-color: #add;
    color: #000;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: var(--color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;

}

main {}

h1 {

    color: #333;

}

main img {
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: #333;
    float: right;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: 1rem;
    background-color: darkcyan;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;

}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}