* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;

}

body {
    background-color: ;
}

:root {
    --color: blueviolet;
    --font-size: 20px;
    --background-color: #f06;

}

/* class secelctor*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/10%);
    padding: 1rem;
    background-color: #add;
    color: #000;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color);
    display: block;
    padding: 10px;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;

}

main {
    max-width: 840px;

}

h1 {

    color: #333;

}

main img {
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: #333;
    float: right;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: 1rem;
    background-color: darkcyan;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}